body {@charset "utf-8";
/* CSS Document */
header{
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 28px;
	padding: inherit;
}
.container{
	display: flex;
	justify-content: space-between;
}
.col-sm{
	background-color: red;
	text-align: center;
	width: 31%;
}
.title {border-bottom-color: black;
	display: flex;
	box-sizing: inherit;	
	position: relative;
	align-self: flex-end; 
	width: 30%;
	border: solid;
	height: auto;
	justify-content: center; 
	background-color: grey; 
	float: right;}

p {box-sizing: content-box;}

@media (min-width: 768px) and (max-width: 991px){ .col-sm .col-sm
	float:left;}
	.col-xsm float:center;}
}
